/* Connect 4 */

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}
.wrapper fieldset {
    padding: 1rem;
    margin-bottom: 1rem;
}
.wrapper .control__group {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
    min-width: 5rem;
}
.wrapper .control__group label {
    display: block;
    min-width: 6rem;
}
.wrapper .error__message {
    padding: 0 1rem;
    color: red;
}
.wrapper form button[type=submit] {
    min-width: 6rem;
    padding: 1rem;
}
.wrapper .hidden {
    visibility: hidden;
    display: none;
}
.wrapper table {
    width: 100%;
}
.wrapper table th {
    font-weight: bold;
}
.wrapper table td,
.wrapper table th {
    padding: .5rem;
}
.wrapper table tr:nth-child(even) {
    background-color: whitesmoke;
}
.wrapper table td:first-child {
    font-weight: bold;
}
.hud {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: black;
}
.hud--red {
    color: red;
}
.hud--yellow {
    color: yellow;
}
.board {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    background-color: dodgerblue;
}

.board__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.board__location {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: .25rem;
}
.board__location a {
    text-decoration: none;
}
.board__token {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}
.board__token--red {
    background-color: red;
}
.board__token--yellow {
    background-color: yellow;
}
.board__token--empty {
    background-color: white;
}
.connectfour_new_game {
    display: block;
    background: whitesmoke;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5rem 7rem;
}

@media screen and (min-width: var(--small)) {

}

@media screen and (min-width: var(--medium)) {

}

@media screen and (min-width: var(--large)) {

}