:root {
    --small: 360px;
    --medium: 800px;
    --large: 1024px;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.wrapper {
    padding: .50rem;
    margin: 0 auto;
    max-width: 360px;
    display: flex;
    flex-flow: column nowrap;
}

.dice-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: whitesmoke;
}

.play-button-wrapper {
    padding: 0 2rem;
    margin: 1rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.play-button-wrapper button {
    width: 9rem;
    height: 3rem;
}

.dice {
    text-align: center;
    max-width: 96px;
    padding: 2rem;
}

.prize-graphic {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.prize-graphic img {
    padding: 1rem;
}


/* Cat and Mouse */

.acme__wrapper {
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.acme__board {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 120px));
}

.acme__cell {
    margin:0;
    padding: 0;
    width: 120px;
    height: 120px;
    background-color: whitesmoke;
}

.acme__cell img {
    margin: 0;
    padding: 0;
}

.acme__cell:nth-child(even) {
    background-color: whitesmoke;
}

.acme__cell:nth-child(odd) {
    background-color: transparent;
}

.acme__controls {
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.acme__controls a {
    color: crimson;
    background-color: whitesmoke;
    text-decoration: none;
    text-align: center;
    display: block;
    min-width: 12rem;
    padding: 1rem;
    font-weight: bold;
}

/* .acme__controls a:visited {
    color: crimson;
    background-color: whitesmoke;
} */

.acme__controls a:hover {
    color: white;
    background-color: black;
}

@media screen and (min-width: var(--small)) {

}

@media screen and (min-width: var(--medium)) {

}

@media screen and (min-width: var(--large)) {

}