:root {
    --small: 360px;
    --medium: 800px;
    --large: 1024px;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.wrapper {
    padding: .50rem;
    margin: 0 auto;
    max-width: 360px;
    display: flex;
    flex-flow: column nowrap;
}

.dice-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: whitesmoke;
}

.play-button-wrapper {
    padding: 0 2rem;
    margin: 1rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.play-button-wrapper button {
    width: 9rem;
    height: 3rem;
}

.dice {
    text-align: center;
    max-width: 96px;
    padding: 2rem;
}

.prize-graphic {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.prize-graphic img {
    padding: 1rem;
}


/* Cat and Mouse */

.board {
    margin: 0 auto;
    padding: 0;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    max-width: 604px;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 120px));
}

.board__cell {
    min-width: 120px;
    min-height: 120px;
    background-color: whitesmoke;
}

.board__cell:nth-child(even) {
    background-color: whitesmoke;
}

.board__cell:nth-child(odd) {
    background-color: transparent;
}

@media screen and (min-width: var(--small)) {

}

@media screen and (min-width: var(--medium)) {

}

@media screen and (min-width: var(--large)) {

}